<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Title</title>
    <script src="/vue.js"></script>
</head>

<body>
    <h4>v-for</h4>
    <div id="app">
       {{ teste }}
        <table  class="table table-primary table-striped table-hover table-bordered table-sm table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">descricao</th>
                    <th scope="col">valor</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(produto, key) in curso2"> <!--destructuring assifnment -->
                    <td>{{ key }}</td>
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.valor }}</td>
                </tr>
                
            </tbody>
        </table>
        <table  class="table table-primary table-striped table-hover table-bordered table-sm table-responsive-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">descricao</th>
                    <th scope="col">valor</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({nome,descricao,valor}, key) in curso2"> <!--destructuring assifnment -->
                    <td>{{ key }}</td>
                    <td>{{ nome }}</td>
                    <td>{{ descricao }}</td>
                    <td>{{ valor }}</td>
                </tr>
                
            </tbody>
        </table>
        <hr>
        <ul>
            <li v-for="(i, key ) in publicacao" style="border: solid 1px; margin-bottom: 10px;" :key="i.id">
                <div>
                {{ i.publicacao }} 
                <hr>
                <input type="text">

            </div>
            </li>
           
           
        </ul>
       <button @click="misturaArrey()">
              misturaArray
       </button>
       
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                teste:'teste vue',
                curso2: {
                    1000: {
                        nome: 'javascript',
                        descricao: 'Curso de javascript',
                        valor: 'R$ 100,00'
                    },
                    1001: {
                        nome: 'php',
                        descricao: 'Curso de php',
                        valor: 'R$ 200,00'
                    },

                },
                publicacao: [
                    { id: 1, publicacao: 'publicação 1'},
                    { id: 2, publicacao: 'publicação 2'},
                    { id: 3, publicacao: 'publicação 3'},
                   
                    
                ],
            },
            methods: {
                misturaArrey(){
                    let misturado = []

                    misturado[0] = this.publicacao[2],
                    misturado[1] = this.publicacao[0],
                    misturado[2] = this.publicacao[1]

                    this.publicacao = misturado
                }

            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
</body>

</html>